<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>


<div class="row">
  <div class="col-4">
    <div class="alert alert-primary" role="alert">
      <h1 style="text-align: center">Customers</h1>
      <h2 style="text-align: center">{{customersCount}}</h2>
    </div>

  </div>
  <div class="col-4">
    <div class="alert alert-secondary" role="alert">
      <h1 style="text-align: center">Items</h1>
      <h2 style="text-align: center">{{itemsCount}}</h2>
    </div>

  </div>
</div>
